<dialog id="demande" >
	<h1>Faire une Demande</h1>
	<a class="close" onclick="dialog.close()">X</a>
	<div class="table" data-wsvalue="Demands" >Loading ...</div>
	<form onsubmit="service.sendForm(this);return false;" table="Demands">
			<h2>Raison</h2>
			<div class="input-group">
				<label>Project : </label>
				<select name="project" data-wsvalue="demande.projects" >
				</select>
			</div>
			<div class="input-group">
				<label>Expliquer votre demande et sa raison : </label>
				<textarea name="reason"></textarea>
			</div>
			<h2>Demande</h2>
			<div class="input-group">
				<label>Montant : </label>
				<input name="account" type="number" />
			</div>
			<input type="submit" class="submit action-button" value="Send" name="submit" />
	</form>
</dialog>